{% extends '@ZimaBlogweb/base.html.twig' %}

{% block body %}

    <div class="col-lg-8 col-md-8 col-xs-12">

        <h1>Persons</h1>

        {% for user in result %}
            <div class="list-group">
                <a href="{{ path('blog_user', {'username': user.username }) }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ user.username }}</h4>
                    <p class="list-group-item-text"><b>{{ user.fullname }}</b> {{ user.interests }}</p>
                </a>
            </div>
        {% else %}
            <div class="well">
                <center> <h3>No results found</h3> </center>
            </div>
        {% endfor %}
        <div class="navigation text-center">
            {{ knp_pagination_render(result) }}
        </div>
    </div>


{% endblock %}