{% extends '@ZimaBlogweb/base.html.twig' %}

{% block body %}

    <div class="col-lg-8 col-md-8 col-xs-12">
        {% for content in result %}
                <div class="well">
                    <center><p style="font-size: 25px;">{{ content.title }}</p></center>
                    <p>wrote: {{ content.owner }} {{ content.createdAt|date('Y-m-d H:i') }} </p> <hr>
                    <p><b>{{ content.shortdescription }}</b></p>
                    <a href="{{ path('blog_content', {"id": content.id}) }}">More…</a>
                </div>
        {% else %}
                <div class="well">
                    <center> <h3>No results found</h3> </center>
                </div>
        {% endfor %}
        <div class="navigation text-center">
            {{ knp_pagination_render(result) }}
        </div>
    </div>


{% endblock %}