{% extends '@ZimaBlogweb/base.html.twig' %}

{% block title %} BlogWEB|Friends{% endblock %}

{% block body %}

    <div class="col-xs-12 col-sm-5 col-md-7">

        <h1>Friends</h1>

        {% for user  in selectFriends%}
            <div class="list-group">
                <a href="{{ path('blog_user', {'username': user.username }) }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ user.username }}</h4>
                    <p class="list-group-item-text"><b>{{ user.fullname }}</b> {{ user.interests }}</p>
                </a>
                <a href="{{ path('blog_delete_friend', {'id': user.id}) }}" class="btn btn-warning">unfollow</a>
            </div>
        {% else %}
            <h2>You don't have friends</h2>
        {% endfor %}

        <div class="navigation text-center">
            {{ knp_pagination_render(selectFriends) }}
        </div>
    </div>

{% endblock %}