{% extends '@ZimaBlogweb/base.html.twig' %}

{% block title %}
    {% for info in infoAboutUser %}
        BlogWEB|{{ info.username }}
    {% endfor %}
{% endblock %}

{% block body %}

    <div class="col-lg-8 col-md-8 col-xs-12">
        {% for content in findContents %}
                <div class="well">
                    <center><p style="font-size: 25px;">{{ content.title }}</p></center>
                    <p>{{ content.createdAt|date('Y-m-d H:i') }}</p> <hr>
                    <p><b>{{ content.shortdescription }}</b></p>
                    <a href="{{ path('blog_content', {"id": content.id}) }}">More…</a>
                </div>
        {% else %}
            <div class="col-xs-12 col-sm-7 col-md-9">
                <div class="well">
                    <center> <h3>You don't have any contents</h3> </center>
                </div>
            </div>
        {% endfor %}
        <div class="navigation text-center">
            {{ knp_pagination_render(findContents) }}
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {% for info in infoAboutUser %}
                    <h3>{{ info.username }}</h3>
                    <p>{{ info.fullname }}</p>
                    <p>{{ info.birthday|date("Y-m-d") }}</p>
                    <p>{{ info.interests }}</p>
                    <p>{{ info.aboutme }}</p>
                    <a href="{{ path('blog_add_friend', {'id': info.id}) }}">Follow</a>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}